* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
body {
  position: relative;
}
.left {
  width: 200px;
  height: 400px;
  background: red;
}
.right {
  position: absolute;
  top: 0px;
  left: 200px;
  right: 0px;
  height: 400px;
  background: green;
}
